body {
 background: url(/assets/duck_overflow.png) no-repeat center center fixed;
 /*background-color: black;*/
 background-size: cover;
 /*z-index: -1;*/
}

.container {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding:2%;
  width: 60% !important;
}

